<h1>Create New Article</h1>
<form method="POST" action="/articles">
    <label for="title">Title: </label>
    <input id="title" name="title" type="text"/>
    <label for="content">Content: </label>
    <input id="content" name="content" type="text"/>
    <input id="Submit" type="submit" value="Create"/>
</form>